altgraph==0.17
auto-py-to-exe==2.9.0
backports.entry-points-selectable==1.1.1
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2020.12.5
distlib==0.3.3
Eel==0.12.4
filelock==3.4.0
Flask==2.0.2
Flask-SQLAlchemy==2.5.1
future==0.18.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
gunicorn==20.1.0
itsdangerous==2.0.1
Jinja2==3.0.3
macholib==1.14
MarkupSafe==2.0.1
modulegraph==0.18
Pillow==8.3.2
platformdirs==2.4.0
py2app==0.24
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
quo
six==1.16.0
SQLAlchemy==1.4.27
virtualenv==20.10.0
Werkzeug==2.0.2
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
